.Card{
  width: 200px;
  height: 340px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  margin: 3px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}


.Card img {
  width: 200px;
  height: 150px;
}

.Card h2 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

.Card h2 a {
    color: #0066cc;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}
  
.Card h2 a:hover {
    color: #004499;
}

.Card h3{
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-size: 16px;
  padding: 10px 20px;
  text-decoration: none;
}